.img-main {
    padding-top: 6rem;
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.img-div figure {
    overflow: hidden;
    object-fit: cover;
    min-width: 20rem;

}

.img-div img {
    border-radius: 5px;
    transition: all .5s linear;
    width: 100%;
}

.img-div img:hover {
    transform: scale(1.04);
}

@media(max-width:700px) {
    .img-div {
        flex-wrap: wrap;
        padding: 0 5px;
        gap: 0;
    }
}