.full-img{
 padding: 1rem 0;   
 /* width: 90%; */
}
.full-img img{
    width: 100%;
}

.my-card{
    margin: 1rem auto;
    padding:0 3rem ;
}

.btn-tag{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-div{
    
    display: flex;
    width: auto;
    flex-direction: row;
    overflow: auto;
    padding: 1rem;
    /* background-color: yellow; */
}

.card-div::-webkit-scrollbar{
    width: .5px;
    height: 1px;
}

.card-div::-webkit-scrollbar-track{
    background: white;
}

.card-div::-webkit-scrollbar-thumb{
    background: rgb(53, 134, 134)
}


.cart-btn{
    margin-bottom: -1rem;
    margin-top: 1rem;
    width: 112%;
}

.card-title
{
    font-size: 1.1rem;
    font-weight: 600;
}


