.ship-panel {
    height: auto;
    display: flex;
    background-color:rgb(226, 193, 193);
    justify-content: space-around;
align-items: center;
padding: 1rem 0;
}

.ship-panel i {
    font-size: 3rem;
     font-weight: 900;
     color: rgba(146, 102, 102, 0.678);
     padding-bottom: .8rem;
}

.icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: aqua; */
    padding: 1rem;
}

.icon-div p{
    margin: 0;
    padding: 0;
}

.main-heading{
    font-size: 1.2rem;
    font-weight: 600;
}
