
 .img-div img{
   border-radius: 10px;
   min-width: 10rem;
   width: 34rem;
   transition: width 0.3s ease-out 0s;
} 
.img-main{
    padding-top: 5.5rem;
}
.img-div{
    /* position: absolute;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
}

.img-div img:hover{
    border-radius: 0px;
    width: 34.5rem;
    object-fit: cover;
 } 
